  <%= form_with model: @note do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <br>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
    <br>
    <%= form.select :chapter_id, Chapter.all.map{ |c| [c.title, c.id] } %>
    <% @note.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
