<div style = "position:relative; left:40%;"> 
<h1> Welcome to LMS </h1>

<%= link_to "Grades", grades_path %> <br>
<%= link_to "Subjects", subjects_path %> <br>
<%= link_to "Chapters", chapters_path %> <br>
<%= link_to "Notes", notes_path %> <br>
<%= link_to "Quizzes", quizzes_path %> <br>
<%= link_to "Questions", questions_path %> <br>

</div>
